.burgers-h1,
.bebidas-h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'calistoga';
    color: #1b1b1b;
    text-align: center;
    margin: 20px 0;

}

.burgers-h1 span,
.bebidas-h1 span  {
    color: #f26820;
}

.burgers-area,
.bebidas-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 20px;
}

.burger,
.drinks {
    display: flex;
    width: 600px;
    max-width: 100%;
    gap: 20px;
    background-color: #202020;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 2px 2px 4px #f26820;
}

.burger-img,
.drink-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.burger-infos,
.drink-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.burger-nome,
.drink-nome {
    font-size: 20px;
    font-weight: 700;
    font-family: 'poppins';
    color: #faebd7;
}

.burger-descricao,
.burger-ingredientes,
.drink-descricao,
.drink-ingredientes {
    font-size: 15px;
    color: #979696;
}

