@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #4a045c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
  margin: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 2px 2px 10px;
}

form h1 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.entrada {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.entrada input {
  border-radius: 8px;
  border: 2px solid rgb(114, 114, 114);
  box-shadow: rgb(0, 0, 0) 2px 2px 3px;
  padding: 5px;
  margin-top: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.data-main {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.data {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.data-info {
  font-weight: 700;
  margin-top: 10px;
}

.borda {
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5px;
}

.center {
  align-items: center;
  margin-top: 30px;
  padding-bottom: 15px;
}

.endereco {
  display: flex;
  gap: 50px;
}

.linha {
  display: flex;
  flex-direction: column;
}

.aux2 {
  display: none;
}

button {
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 2px 2px 3px;
  background-color: #4a045cda;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(114, 114, 114);
  color: black;
}
