@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #4a045c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form {
    padding: 20px;
    margin: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 8px;
}

.title {
    text-align: center;
    border-bottom: 1px solid blueviolet;
}

.entrada {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.entrada label {
    font-size: 17px;
    font-weight: 700;
}

.entrada input {
    border-radius: 8px;
    border: 2px solid rgb(114, 114, 114);
    box-shadow: rgb(114, 114, 114) 2px 2px 3px;
    padding: 5px;
    margin-top: 20px;
}

.data-main {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.data {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.data:nth-child(13) {
    border: none;
}

.data .title {
    font-size: 30px;
    font-weight: bold;
}

.data-info {
    font-weight: 700;
    margin-top: 10px;
}

.data img {
    width: 70%;
}
.aux2 {
    display: none;
}

button {
    border-radius: 8px;
    border: 2px solid rgb(114, 114, 114);
    box-shadow: rgb(114, 114, 114) 2px 2px 3px;
    background-color: #4a045cda;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(114, 114, 114);
    color: black;
}